[2019-03-08 16:28] Peter-J-Freeman opened #1 "swagger decorator for VF"
Once VF is live, ensure swagger decorator is activated

[2019-10-08 15:47] beboche opened #17 "Still experiencing issues with docker containers"
The issue described in [VV issue 95](https://github.com/openvar/variantValidator/issues/95) is still happening. I removed the containers (docker-compose down) and rebuilt and ran some tests. I sent about 100 queries to the gene2transcripts operation then the container did not answer anymore. I had a series of errors like this one before stopping the tests:
[code]

[2019-11-07 15:16] leicray opened #22 "Docker installation problem"
I am unable to build docker using

`$ docker-compose build --no-cache`

It generates the error message:

`ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a version of "2" (or "2.0") and place your service definitions under the `services` key, or omit the `version` key and place your service

[2019-11-08 09:08] PeteCausey-Freeman commented on #22
The version of docker-compose in the docker-compose.yml is version 3.

I suspect you need to update your installation of docker and docker compose to the latest version? Version 3 is supported with docker 1.13.0+ .

[upgrade docker-compose](https://docs.docker.com/compose/install/) for windows, mac and linux.

Updating Docker is usually most easily performed via a desktop app. [Install docker app]

[2020-02-03 16:54] PeteCausey-Freeman opened #23 "Resource list not available in new version"
https://rest.variantvalidator.org/webservices/variantvalidator/_/resource_list.json

We transferred from flask restful swagger to flask restplus.

[2020-02-11 12:15] PeteCausey-Freeman opened #24 "Update swagger on new release"
Need to include "all" in select_transcripts and add missing bracket to transcript_model

[2020-03-09 19:22] znikasz opened #25 "CORS policy"
Thank you for making https://rest.variantvalidator.org/ public. Would it be possible to set Cross-Origin Resource Sharing so that VV Rest is consumable by other websites?

Thanks

[2020-04-16 15:21] PeteCausey-Freeman commented on #25
Hi @znikasz

sorry for the very late response. I didn't see this.

Let's discuss in more detail. Happy to consider all requests

[2020-04-17 08:16] znikasz commented on #25
Hi,

thank you for the response.

We have simple website in our lab that we use for describing a variant. It uses REST for gathering data from several places, we would like to include VariantValidator. The query is done by the browser, it looks like:
[code]

However, web browsers cannot consume the answer due to the CORS restrictions. It is well described here: https://developer.mozilla.org/en-US/

[2020-04-21 10:40] AnotherSimon opened #28 "choice of dict key names"
Hi Peter,

Using python to pull data with 'requests' library as follows:

[code]

This returns a dictionary with 3 primary keys. "metadata" is pretty clear. "flag" serves to explain the type of response. The bulk of the response however is in the third key which for some reason seems to be named conditionally on the results of the query (`NM_004304.4:c.2071_2072insTGGGGCCC` in this case).

Of cour

[2020-04-21 11:25] PeteCausey-Freeman commented on #28
To clarify, were you thinking something like

[code]
where the variants have been moved down a level?

If not can you provide a JSON example so I can see what you have in mind. I like visual examples if that OK.

It's difficult to make sweeping changes but in this case I'm pretty sure I could include an argument that provides the output you would like without much problem.

[2020-04-22 07:17] AnotherSimon commented on #28
Or perhaps my understanding of the dict structure is lacking. Is it possible that a request might return more than one validation? (to clarify, `NM_000088.3:c.589G>T` being 1 validation in your example).

I don't need a personalised output, I'm just questioning the logic. Why did you decide to name a key after the result of the query? If I knew the result I wouldn't need to launch the query (in mo

[2020-04-22 08:46] PeteCausey-Freeman commented on #28
Never worry about this mate. Always happy to have healthy debate. It's useful for me :). Also, I'm happy to add additional functionality so please feel free to request.

So, the reason for the intended structure is that indeed there are multiple instances where more than output will be returned. For example a genomic variant which aligns to multiple transcripts. Here is a pretty good example.

htt

[2020-04-22 08:50] AnotherSimon commented on #28
This is pretty much the solution I arrived at but it does make more sense now. Not sure what this means in terms of follow-up. I guess it will be self-evident with those Jupiter examples you're working on.

[2020-04-22 08:54] PeteCausey-Freeman commented on #28
Yes, the notebooks will help.

Mind if I steal your code snippets from in these issues to create examples? Always more relevant if based on real user stories. Thanks

[2020-04-22 10:04] AnotherSimon commented on #28
Not much to steal there but be my guest. I did spot a missing line of code near the beginning though:
[code]

[2020-04-22 10:04] #28 closed

[2020-04-30 22:42] AnotherSimon opened #29 "typo"
Submitting the following variant thought me something

`http://0.0.0.0:8000/variantvalidator/hg19/chr2:48010558:CTC:GAG/all`

Response was:

`{'flag': ' Major error', 'validation_error': 'A major validation error has occurred. Admin have been made aware of the issue'}`

Note the redundant space before "Major error".

Admin been made aware, does this refer to the public instance only or even when I

[2020-05-01 09:09] PeteCausey-Freeman commented on #29
Thanks, I'll take a look at the cause.

The errors also need updating. When the tool was linked to our internal APIs all errors were automatically emailed back to us for debugging. This doesn't work in docker. Thanks for letting me know, I will update the error messages as well

[2020-05-01 09:10] PeteCausey-Freeman commented on #29
Major error means that processing has failed. It will be a bug.

[2020-05-06 10:39] PeteCausey-Freeman commented on #29
Hi @AnotherSimon

Sorry for the delay on this. The issue no longer seems to be a problem. It is likely you are running an old version of the API.

Try re-building from the develop branch

[code]

Then follow the docker installations

[2020-05-06 10:39] #29 closed

[2020-05-06 21:35] AnotherSimon opened #30 "dev branch installl broken?"
Hi Peter,

Ignoring a few special cases where variants caused VariantValidator to hang, I had the REST docker up and running. You recommended switching to the `develop branch with the following instructions:

[code]

However, after doing so, `docker-compose up` runs into problems:

[code]

[2020-05-07 09:25] PeteCausey-Freeman commented on #30
Hi Thanks.

I'll get this sorted

[2020-05-07 09:59] PeteCausey-Freeman commented on #30
Note, I forgot to say that the reason I recommended the switch is that the version you are using is no longer maintained and will be deprecated in the very near future. I'm currently working withe the LOVD team to stress test our software and iron out bugs like the ones you saw. I have also had to change the framework for the API because a dependant software is no longer maintained.

So you can ge

[2020-05-11 10:15] PeteCausey-Freeman commented on #30
Hi @AnotherSimon . I believe I have spotted the issue. A really annoying single letter typo. Testing now and if good I will push up.

Also configured MySQL and Postgres to novel ports to try stop your conflict issues.

[2020-05-14 09:00] PeteCausey-Freeman commented on #30
Hi @AnotherSimon
Very sorry for the delay. I have been fighting this for days and finally managed to identify an issue burried inside one of the dependancies. FACE-PALM

Anyway, I have tweaked the installation process, fixed the issue, and for something that might be really interesting to you, I have also included documentation and additional functionality that gives you a complete install of VV a

[2020-05-14 10:58] AnotherSimon commented on #30
Neat. Looking forward to the update.

Out of curiosity, could a user decide to start off with the docker install and then update parts of the pipeline, for example update the SeqRepo version in the container, without breaking anything? (anything can be broken but you get the idea)

[2020-05-14 12:12] PeteCausey-Freeman commented on #30
Great shout mate,

The list of available seqrepo databases is here. http://dl.biocommons.org/seqrepo/

Tell you what, I will build a docker container with a more up-to-date SeqRepo build and see if it still runs then provide feedback on what I did. I will add to docs too.

Basically, based on your feedback I'm trying to make this docker container a customisable distributed version of the whole Var

[2020-05-28 09:50] AnotherSimon commented on #30
Any updates on getting a working version of the REST docker uploaded?

[2020-05-28 09:52] PeteCausey-Freeman commented on #30
Hi mate,

sorry for the delay. I was almost done but had to drop everything to write an urgent grant. I forgot to let you know. I'll be back on it in a couple days. I need to figure out 1 more thing then we are good to go.

Hope you are well

[2020-06-02 15:04] PeteCausey-Freeman commented on #30
OK, try now.

I have added instructions to use VV as an installed version of the commandline tool. May need to improve documentation to access the data outside the container though but feedback so far would be appreciated.

I'm going to try get hold of a docker expert to add additional documentation. Think this is looking like quite an exciting package now though. Thanks for your development ideas

[2020-06-04 14:03] AnotherSimon commented on #30
Thanks for the update Peter. Had to finish something else up before I could get to this project.

First tests indicate it's running nominally. Haven't had time to mess around inside the new containers but once the first batch of variants has been processed I'll give it a go and provide some feedback.

[2020-06-10 09:59] AnotherSimon commented on #30
Most of the errors I am encountering right now seem to be of the category `Interval length measured from different datums is ill-defined`. The output from my wrapper script:

[code]

(all hg19)

[2020-06-10 10:45] PeteCausey-Freeman commented on #30
Brilliant. I will take a look at these thanks. This is likely a VV issue rather than the API so transferring

[2020-07-22 13:21] AnotherSimon opened #31 "logs without open terminal (docker version)"
Currently the docker version of rest_variantvalidator requires the user to log in as su or be on sudo list. An open connection is maintained after issuing `docker-compose up` where logs are printed. If the connection is broken for some reason the service remains up, but logs seem to vanish, correct?

Is there any way to write the output to a log? (with a size limitation on the log file perhaps)
 O

[2020-07-23 07:48] PeteCausey-Freeman commented on #31
Hi @AnotherSimon
I want to look at the way VV handles logging anyway. I definately want a rotating file handler and to tweak the log levels

I will need to look into this in terms of docker as well. Thanks for raising.

I'm pretty slammed still with grant writing but want to do some coding again ASAP.

[2020-08-04 15:31] #30 closed

[2020-09-15 07:01] leicray opened #32 "Additional amino acid level outputs needed"
The API produces amino acid level output such as:

    "hgvs_predicted_protein_consequence": {
      "slr": "NP_000080.2:p.(G1018D)",
      "tlr": "NP_000080.2(LRG_2p1):p.(Gly1018Asp)"
    }

The "tlr" output includes the LRG transcript designation, if it exists, but some users might not want it "messing up" an otherwise simple output that would read  "NP_000080.2:p.(Gly1018Asp)". At present, the

[2020-09-15 07:04] PeteCausey-Freeman commented on #32
Agreed
I've been thinking about this one as well and how to handle it

I prefer
[code]

[2020-09-15 07:05] PeteCausey-Freeman commented on #32
We will also expand the tables in interactive to reflect this

[2020-09-15 07:09] ifokkema commented on #32
This looks better, I agree :wink:    (if I may :laughing: )

I would change the output of the `tlr` field, but I'm not sure if I would need to modify code (I'm already removing the LRG part). It may break existing implementations of the API.

Soooo, just to annoy you guys a little bit :laughing:  I'm just going to drop this here: https://github.com/openvar/variantValidator/issues/128

[2020-09-15 07:16] leicray commented on #32
Now I'm really confused. You must have gone back and edited your preferred output format as the alert that was emailed to me said:

`"tlr": "NP_000080.2(LRG_2p1):p.(Gly1018Asp)"`

I agree that we ought to avoid having two (or more?) reference sequence identifiers ahead of a variant description. Otherwise, it could get very messy once we can handle Ensembl transcripts. These chould perhaps be displ

[2020-09-15 07:16] PeteCausey-Freeman commented on #32
You may comment indeed.

I was actually going to ask you too.

To be honest in terms of https://github.com/openvar/variantValidator/issues/128 I'm really not sure how easy this is going to be in the short-term. Really need to look at our infrastructure.

Currently the API is not widely used and I have direct contact with the primary users who ought to be using it! I also want those who I don't kno

[2020-09-15 07:17] PeteCausey-Freeman commented on #32
I do agree though

[2020-09-15 07:18] PeteCausey-Freeman commented on #32
Hi Raymond,

I did edit yes.

The scenario you propose is impossible because predictions are made in the context of a selected transcript, so RefSeq and Ensembl would never exist in the same output json

[2020-09-15 07:23] leicray commented on #32
If a heavily revised version of the API will be version 1, and backwards compatibility can be forgotten about, the six transcript-based outputs should be:

[code]

[2020-09-15 07:27] PeteCausey-Freeman commented on #32
"refseq_slr"
"refseq_tlr"
"lrg_slr"
"lrg_tlr"
"ens_slr"
"ens_tlr"

Hi @leicray, I see what you are saying, but this suggestion unnecessary. we need 4 only outputs to fit all scenarios

[code]

[2020-09-15 07:36] PeteCausey-Freeman commented on #32
Hi @leicray. For testing do you by any chance have the c. or g. description that produces this output?

[2020-09-15 07:39] ifokkema commented on #32
There are many ways to actually implement versioning, including making copies of older code and keeping it running somewhere else, or making aliases of internal methods and just accepting the requested version as an additional argument to find out which alias you should run. What will work for you heavily depends on your internal structure indeed, of which I, unfortunately, don't know much.

Oh, t

[2020-09-15 07:41] leicray commented on #32
The outputs were generated beginning with NM_000089.3:c.3053G>A

The API is now being used for the BOOSTB4 project patient database the input above is a variant found in one of the patients.

[2020-09-15 07:43] PeteCausey-Freeman commented on #32
Not at all.

You agree at versioning at the next major release. Practically speaking, without more support this is gonna have to happen :)

As for MANE, this is already sorted. We will give the MANE ID in the output, we will never give an Ens and RefSeq in the same nested dictionary. MANE transcripts have 2 separate IDs and ens and and NM_ . I think MANE will remain an annotation nor a reference s

[2020-09-15 07:43] PeteCausey-Freeman commented on #32
Thanks @leicray

[2020-09-15 07:47] ifokkema commented on #32
Cool, Pete!! :+1:

[2020-09-15 13:40] #32 closed

[2020-09-15 13:41] PeteCausey-Freeman commented on #32
Moved to VV issues
https://github.com/openvar/variantValidator/issues/230

[2020-09-22 06:54] leicray commented on #25
Can this be fixed?

The BOOSTB4 project needs to use the API to validate patient variant submissions to their database. At present, calls to the API form their system are returning errors such as:

‘Access to XMLHttpRequest at 'https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh37/NM_000088.3:c.589G%3ET/all?content-type=application%2Fjson' from origin 'https://www.medscinet.co

[2020-09-22 09:11] PeteCausey-Freeman commented on #25
This is a question for IT services not here. Its an IT issue who is on blocked policies.

Tell the BOOSTB4 team, however, to use the dev version on https://www35.lamp.le.ac.uk/ because it is where the most up-to-date versions are found.

Let me know if that works

[2020-09-22 09:18] leicray commented on #25
I will raise the issue with IT Services. Which LAMP is hosting https://rest.variantvalidator.org/ ?

I'll get back to you on whether the dev version works for the BOOSTB4 team.

[2020-09-22 09:25] PeteCausey-Freeman commented on #25
https://www188.lamp.le.ac.uk/

[2020-09-22 09:25] PeteCausey-Freeman commented on #25
BOSTB4 are better using dev for now to avoid issues in the furure

[2020-10-28 15:22] AnotherSimon opened #39 "restvv_1 fails to boot workers"
Good to see some new updates to this repo! Unfortunately I have to be a bearer of bug news (for build 86d0acc) :

[code]

[2020-10-28 16:00] PeteCausey-Freeman commented on #39
Hi @AnotherSimon
Thanks for the update. We are currently in the process of pushing a major new database release. I'll see if I can replicate this current issue at my end and fix the current master build. I think I may know what went wrong.

[2020-10-28 16:07] PeteCausey-Freeman commented on #39
Thought as much. I forgot to specify the Docker entrypoint for the new database location. Try again. Should be fixed. Don't forget to git pull.

[2020-10-28 16:08] PeteCausey-Freeman commented on #39
Also, would you be willing to drop us an email. You are becoming a regular user. Would be nice to know a little more about you. This isn't the place! Haha

https://variantvalidator.org/help/contact/

[2020-10-28 17:53] AnotherSimon commented on #39
f090437 still gives me a similar error:
[code]

[2020-10-28 18:22] PeteCausey-Freeman commented on #39
HMM. OK, I'll dig a little deeper. Thanks

[2020-10-28 18:37] PeteCausey-Freeman commented on #39
Hi mate,
in the vdb_docker.df file, try replacing the wget statement with
`RUN wget https://github.com/openvar/VV_databases/raw/master/validator/validator_2020-10-01.sql -O /docker-entrypoint-initdb.d/validator_2020-10-01.sql`

[2020-10-28 18:38] PeteCausey-Freeman commented on #39
It looks like Mysql is failing to load. I think Ive seen this before

[2020-10-29 09:10] AnotherSimon commented on #39
Edited in that line manually but still no luck. I do seem to remember a similar error message about gunicorn and workers not booting (see #30). Also included vdb output below (rest_vv output is the same as above). And there does seem to be an outdated URL for mysql repo (see end of this post).
[code]
On a side note, earlier in the docker-compose build step:
[code]

[2020-10-29 09:13] PeteCausey-Freeman commented on #39
Thanks for hints. I have a bit more time today. I'll take a look. I think something may have become over-written in the merging of several branches. On it

[2020-10-29 09:14] PeteCausey-Freeman commented on #39
As for the pull issue. This is a new docker enforced thing. I got an email late last night. I will invstigate

[2020-10-29 12:15] PeteCausey-Freeman commented on #39
Hi @AnotherSimon

I have pushed a revised version

https://github.com/openvar/rest_variantValidator/commit/43e2b8aa76ca4e4e9202182070ac118261a87cdb

Note, the warning `rest_variantvalidator_seqrepo_1 exited with code 0` does not mean a failure. It seems to be happening because seqrepo is already running. I think the container is a little odd!!!

I have made a not of this in the docker manual.

Clo

[2020-10-29 12:15] #39 closed

[2020-10-29 15:11] AnotherSimon opened #44 "flask requirement not installable + fix?"
While installing build 'f090437' I hit the following snag:

[code]

Commenting out flask (but leaving flask-restplus) in `REQUIREMENTS.TXT` seems to do the trick.
However, this does lead to a new issue:
[code]
Further, this could just be a bit of confusion about the path in the manual but there is no `~/rest_variantValidator/rest_variantValidator/wsgi.py` for me (only `~/rest_variantValidator/wsgi

[2020-10-29 15:35] PeteCausey-Freeman commented on #44
Hi @AnotherSimon

I am tweaking the INSTALLATION.md.

To be clear, are you installing locally????

[2020-10-29 15:57] AnotherSimon commented on #44
yup, local install (no docker), VV itself is up and running in this virtual environment

[2020-10-29 18:06] PeteCausey-Freeman commented on #44
OK,

I am updating the workflow.

below is what I will be adding. It works for me, but perhaps see i it works for you before I commit

[2020-10-29 18:07] PeteCausey-Freeman commented on #44
# Installation

These instructions will allow you to install the package and accompanying databases on Linux. Mac OS X computers operate similarly.
For any other systems, or if you cannot install the databases, we recommend installing via [docker](DOCKER.md).

## Pre-requisites
Installation requires [VariantValidator](https://github.com/openvar/variantValidator) and [VariantFormatter](https://gith

[2020-10-29 18:08] PeteCausey-Freeman commented on #44
Note, make sure you build VariantValidator first using anaconda if possible. PySam is very unstable when installed via pip

[2020-10-29 18:08] PeteCausey-Freeman commented on #44
# Manual

## Operation

To run rest_variantValidator

### In dev mode upsing Python

[code]

You will be provided with a link which will open rest_variantValidator in your web browser. [http://127.0.0.1:5000/](http://127.0.0.1:5000/)

## Swagger documented functions
The rest_variantValidator functions have swagger documentation to help you generate URLs to make direct API calls utilising human rea

[2020-10-29 18:09] PeteCausey-Freeman commented on #44
Let me know if these changes help

[2020-10-30 09:08] AnotherSimon commented on #44
I did indeed create the VarVal virt env with native python rather than anaconda but can't confirm that that was definitely the problem.

After flask issues were sorted out I had to fix one more bug with werkzeug (wrong version installed) by going into the environment, `pip uninstall werkzeug` and then `pip install werkzeug==0.16.1`. I suspect that because the requirements.txt file in VariantValida

[2020-10-30 09:12] AnotherSimon commented on #44
On a somewhat related note, should I be concerned about this warning from `wsgi.py`?
[code]

[2020-10-30 09:29] PeteCausey-Freeman commented on #44
Noted r.e. the setup.py file thanks. Updating now.

I think I remember the issue. There was an issue with Flask or Flask Restplus and newer versions of WerkZeug that seemed to cause a bug.

Here is the setup.py now

[code]
I have put Werkzeug aboove Flask. The werkzeug==0.16.1 is specified in the requirements.txt but I have moved it above flask.

May I ask exactly what the issue was with installin

[2020-10-30 09:31] PeteCausey-Freeman commented on #44
Don't be alarmed by the wsgi waning. This is just telling you that if you intend to put the app onto a web server, you should be using Apache or something else as the server, not running the development server by Python(ing) the file. Hence the demo Apache config.

[2020-10-30 09:38] AnotherSimon commented on #44
So with the use case I emailed you recently in mind, do you recommend that I should run my instance on apache?

[2020-10-30 09:44] PeteCausey-Freeman commented on #44
If the tool is just being run on, and accessed on, a single machine I see no reason to go to the hassle of setting up apache. If you are setting up an internal API that you and colleagues are accessing via web, I think Apache might be the way to go. I wouldn't bother setting up Apache unless you really need to. It can be a hassle!!!!

[2020-10-30 15:50] PeteCausey-Freeman commented on #44
Hi @AnotherSimon
I am having to migrate onto new servers so will be updating all the installation manuals needed to install VV and VariantFormatter and the API.

I will test, and post the updated versions here for your comments before committing. Is that OK?

[2020-11-02 16:04] AnotherSimon commented on #44
I've made decent progress in setting up apache2 and mod_wsgi. I did notice that wsgi.py explicitely points to port 5000. Does this mean I should also change my virtualhost config file to be bound to port 5000? Or can I just change that value in wsgi.py?

[2020-11-02 16:16] PeteCausey-Freeman commented on #44
If you look in the wsgi.py

The tool is only pointed at :5000 if you run the script directly. i.e. if __name__ == '__main__':

So the :5000 will be ignored by the Apache installation. If you get stuck at any point we can set up a zoom call to go through my progress. I'm currently building too.

[code]

On thing you will need to identify is the location of the home directory used by Apache. VV will

[2020-11-02 16:23] PeteCausey-Freeman commented on #44
As for the error, did you manage to install rest_vv into your virtual environment?

is might be worth posting your Apache config so I can take a look.

[2020-11-03 09:36] AnotherSimon commented on #44
I figured out the cause of my error. I created a `wwwrun` user following your template for the WSGI config. First I needed to check that that this user could run rest_VV interactively in the virtual environment.

While addressing this, I noticed an interesting artefact. The base directory for the virtual environment is a sub-folder of my variantValidator folder. But if I want to be able to run the

[2020-11-03 09:52] PeteCausey-Freeman commented on #44
Thanks for sharing this.

This my apache config is taken from the live server (current) but I am having to migrate 4 servers now. 2 dev and 2 live. This is useful to know as I believe that the Apache version will have been upgraded. If as we both keep going we can make notes here and I will update the installation manuals with the information we gather.

[2020-12-09 01:27] squid-dev opened #45 "restvv build fails to install pytest_cov dependency"
This is the error I'm getting:

I can actually get by this error by setting a min version for pytest_cov in REQUIREMENTS.txt. But the build is taking forever as it's now going through dozens of versions of pytest.

The strange thing is that I didn't encounter this issue last time I built this, a few months ago, but now I'm having the problem on two different machines, my macOS dev box and the Linu

[2020-12-11 17:22] squid-dev commented on #45
I think I see now, the Dockerfile always upgrades pip to the latest, and there are issues with the resolver in pip 20.3, which was released a few weeks ago. I can get around the problem now by adding the following option in the Dockerfile:
`# Install any needed packages specified in requirements.txt
RUN pip install -r REQUIREMENTS.txt --use-deprecated=legacy-resolver`
[Related issue](https://githu

[2020-12-11 17:22] #45 closed

[2020-12-17 23:23] squid-dev opened #46 "Table 'validator.transcript_info' doesn't exist"
After my latest 'git pull' I'm getting this error during requests:

[code]

[2021-01-11 13:47] beboche opened #47 "New endpoint get_metadata"
Would be nice to create a new endpoint to get the database version in order to know whether or not the database has been updated with new transcript IDs, etc

[2021-01-11 15:21] ifokkema commented on #47
Perhaps it's most efficient to extend the existing `hello` method with the standard `metadata` array that the other services output?

[code]

[2021-01-11 16:08] PeteCausey-Freeman commented on #47
Fantastic idea. Thanks

[2021-01-12 11:17] PeteCausey-Freeman commented on #47
Ok,

For acceptance

[code]

I kept the old status key to prevend @beboche 's stuff breaking.

Note, the key seqrepo_db will have to change and also uta_schema will become vvta_schema, but you will get plenty of warning

[2021-01-12 11:23] ifokkema commented on #47
Excellent!

I actually also have a method that tests for your `hello', so it also prevents my stuff from breaking :smile:

Thanks!

[2021-01-12 11:24] beboche commented on #47
Exactly, let's avoid breaking anything!

[2021-01-12 11:35] PeteCausey-Freeman commented on #47
Fantastic, all happy. I will push this up to both servers now then.

[2021-01-12 11:38] PeteCausey-Freeman commented on #47
https://github.com/openvar/rest_variantValidator/commit/64d6d8a44bef2db949e17d93ddfd40b641d3481b

[2021-01-12 11:38] #47 closed

[2021-12-13 16:15] beboche opened #71 "The gene2transcripts endpoint returns empty results for some genes"
HI,
a bunch of genes return an empty transcript object in the json output.

Example of A3GALT2:
https://www608.lamp.le.ac.uk/VariantValidator/tools/gene2transcripts/A3GALT2?content-type=application%2Fjson

returns:
{
  "current_name": "alpha 1,3-galactosyltransferase 2",
  "current_symbol": "A3GALT2",
  "hgnc": "HGNC:30005",
  "previous_symbol": "A3GALT2P",
  "transcripts": []
}

HGNC says there i

[2021-12-13 17:44] John-F-Wagstaff commented on #71
Yes NM_001080438 was marked as permanently suppressed 2009.07.27, but is now active again, several of the others fit this pattern. This silent re-appearance of revoked records is not just an issue for us, for example (at the time of writing) TCP10L2's latest NCBI transcript is also listed as not alive/removed in the CCDS report, despite having been un-revoked by the NCBI.  We hope to reactivate al

[2021-12-13 18:12] beboche commented on #71
ok thanks for the answer. Are you planning regular VVTA updates?

[2021-12-14 10:37] John-F-Wagstaff commented on #71
We are hopping to update at least once a year, maybe up to once every 6 months, time and funding permitting.

[2021-12-14 14:38] beboche commented on #71
It would be nice to be able to query this endpoint using HGNC IDsn, wouldn't it be?

[2021-12-14 15:25] i3hsInnovation commented on #71
Hi @beboche . Yes, nice idea. I'll open this as a new issue since it's a VV thing not a database thing. I'll link it here
It's Pete by the way. Just logged in as another user!!!

[2021-12-14 15:28] i3hsInnovation commented on #71
https://github.com/openvar/variantValidator/issues/323

[2021-12-14 15:29] i3hsInnovation commented on #71
We are working on a new build now. It's taking a while because we are also setting up infrastructure, but John is all over the problem

[2021-12-14 15:49] beboche commented on #71
perfect!

[2021-12-14 16:08] i3hsInnovation commented on #71
Just need a few staff now like @John-F-Wagstaff . Anyone want to buy a kidney? :P

[2021-12-15 11:19] beboche commented on #71
Hi,
Pete told me to add this one here:

That kind of query on chrM:
https://rest.variantvalidator.org/VariantValidator/variantvalidator/hg19/M-7425-A-G/all?content-type=application/json
returns the error:
"Failed to fetch NC_001807.4 from SeqRepo (/local/seqrepo/VV_SR_2021_2/master) (Alias NC_001807.4 (namespace: None))"

[2022-02-17 13:29] beboche opened #72 "The gene2transcripts endpoint returns Internal Server Error for some genes"
Here is a list of HGNC symbols which are valid (February 2022) and trigger an Internal Server Error using the gene2transcripts endpoint:

IFNL4
KIR2DL2
KIR2DS1
KIRREL2
LYST
STAG2
SURF2
TAF10
TET2
TIMM17B
TMBIM1
TREX1
UROS

Thanks
david

[2022-04-12 14:40] beboche opened #74 "Sometimes rest VV returns results unrelated to query"
Sometimes, but quite often indeed, VV returns results that are totally unrelated from the initial query.

For example, today I submitted this query using the swagger UI at https://rest.variantvalidator.org/:

https://rest.variantvalidator.org/VariantValidator/variantvalidator/**hg19**/**15**-43921089-C-T/all?content-type=application%2Fjson

and got as results a variant located on chr12:

"selected

[2022-04-13 09:42] PeteCausey-Freeman commented on #74
I have had a think about how we might handle this programatically

Did you by any chance keep a full json for one of these errors???? @beboche. If so, please can you place it below

[2022-04-13 10:18] beboche commented on #74
I have two of these from yesterday:

https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh38/NM_002735.3:c.253A>C/all?content-type=application/json

{'NM_001330609.1:c.203C>T': {'alt_genomic_loci': [], 'annotations': {'chromosome': '8', 'db_xref': {'CCDS': 'CCDS83325.1', 'ensemblgene': None, 'hgnc': 'HGNC:28984', 'ncbigene': '9897', 'select': False}, 'ensembl_select': False, 'ma

[2022-04-13 13:54] PeteCausey-Freeman commented on #74
Thanks. I will see if I can think of a work around

[2022-04-14 07:41] ifokkema commented on #74
Pete, is this a race condition somewhere? Are you communicating over one port with multiple processes or so?

[2022-04-14 08:02] PeteCausey-Freeman commented on #74
No idea @ifokkema . I have to say that the server stuff is not something I've had much chance to get to know. Thanks for the hint, this is possible. I do have multi processes and multi threading running. Think there might be 1 port. Can I send you the configs??

[2022-04-14 15:18] beboche commented on #74
Hi,

a new one just occured:

[https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh38/NM_001304808.3:c.2066C>T/all?content-type=application/json](https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh38/NM_001304808.3:c.2066C%3ET/all?content-type=application/json)

[code]

[2022-04-15 17:49] AnotherSimon opened #75 "build error docker rest VV 2.0"
A bit late to the 2.0 party but I seem to be getting a build error using docker on version c034e95.

Followed the instructions at [DOCKER.md](https://github.com/openvar/rest_variantValidator/blob/master/docs/DOCKER.md) (seemingly without errors) up to `docker-compose up` at which point I see the following error:

[code]
Is there supposed to be an underscore in the leaf paths on the docker containe

[2022-04-15 19:59] ifokkema commented on #74
I think I'd need more than just the configs to understand the whole structure of the system. I know next to nothing about the internal works of VV, and I can't say if this is "server stuff" or "VV stuff". The thing to look for is shared connections or ports; so, e.g., how the API connects to the main VV process that does the analysis. If files are created and then read, that's always a weak spot.

[2022-04-19 09:20] beboche commented on #74
Hi both,

maybe related, here is another type of weird results (empty):

[https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh38/NM_018188.4:c.895-4G>A/all?content-type=application/json](https://rest.variantvalidator.org/VariantValidator/variantvalidator/GRCh38/NM_018188.4:c.895-4G%3EA/all?content-type=application/json)

[code]

[2022-04-19 10:46] AnotherSimon opened #76 "new panel (re)naming rules"
The v3 panel "OTHER SOLID (EXTENDED)" does not seem to fit within the current rules of the panel naming.

[2022-04-19 11:42] AnotherSimon commented on #76
wrong project, sorry

[2022-04-19 11:42] #76 closed

[2022-04-19 11:44] AnotherSimon commented on #76
Please remove this issue permanently if possible

[2022-04-19 12:26] PeteCausey-Freeman commented on #76
No worries :)

[2022-04-19 12:32] PeteCausey-Freeman commented on #75
Hi @AnotherSimon

Let me check this out.

It looks like you created the folders on your local system? https://github.com/openvar/rest_variantValidator/blob/master/docs/DOCKER.md

- Create a directory for sharing resources between your computer and the container
[code]
i.e. a directory called share in your home directory

I will try spark up a new install on my machine now and see if debugging is n

[2022-04-19 12:58] PeteCausey-Freeman commented on #75
OK, I get the following
[code]

Re-building now

[2022-04-19 15:56] PeteCausey-Freeman commented on #75
Hi @AnotherSimon
look at this error
ERROR: for rest_variantvalidator_restvv_1  Cannot start service restvv: error while mounting volume '/var/lib/docker/volumes/rest_variantvalidator_seqdata/_data': failed to mount local volume: mount /home/simon/variantvalidator_data/share/seqrepo:/var/lib/docker/volumes/rest_variantvalidator_seqdata/_data, flags: 0x1000: no such file or directory

please confirm

[2022-05-10 19:15] i3hsInnovation commented on #74
@beboche @ifokkema . I have tweaked the server. The main thing I'm trying is using the worker-event MPM in apache.

Please let me know if you see any more of these events @beboche

[2022-05-11 11:02] i3hsInnovation commented on #74
Might be that the databases are out of date. I'm making an update as we speak. Let me test locally and feed back. Will look at what is causing the error and send a better error message back and fix the error if the LRG is in the database, or when it is added in the next few days

[2022-05-11 11:03] i3hsInnovation commented on #74
FYI, that means I think this is an unrelated issue, but thanks for the heads up.
What I'm looking for here is instances where you ask about variant A but get info about a different variant (B)

[2022-05-16 08:02] PeteCausey-Freeman commented on #74
Yes please. New issue for that one. It'll be a bug I need to kill quick

[2022-05-16 08:03] PeteCausey-Freeman commented on #74
Please provide some examples :)

[2022-05-16 09:36] beboche commented on #74
You used to use pre-fork? I'm currently also testing the event MPM on my side.

[2022-05-16 10:31] PeteCausey-Freeman commented on #74
Just started using the event MPM https://httpd.apache.org/docs/2.4/mod/event.html. So far it seems to have potentially sped things up and at least reduced if not stopped mixed up results. I was on Worker MPM before

[2022-05-17 10:30] PeteCausey-Freeman commented on #74
VV is handling the LRG_199 variant

[code]

[2022-05-17 10:33] PeteCausey-Freeman commented on #74
@ifokkema , which endpoint is this? The LOVD endpoint does not handle gene sequence variants. This is currently a VV request, e.g. LRG and RefSeqGene go to VV endpoint

[2022-05-18 07:21] beboche commented on #74
so far, the apache trick seems to be doing the job. Please keep the issue opened for about 10 days from now and I'll let you know if everything's right

[2022-05-18 07:58] PeteCausey-Freeman commented on #74
It may have fixed a few issues. Happy to discuss it with you too. Event MPM might be useful for your web sites too. I'm trialing it in the API and live interactive site

[2022-05-18 08:01] beboche commented on #74
right I switched two days ago after some testings to event MPM in the live MobiDetails and API, and so far so good. What else did you chose? Could you send me your event mpm config by email, so that I can compare with mine?

[2022-05-18 08:14] PeteCausey-Freeman commented on #74
I'm using Python with mod_wsgi
Here is my config (with full paths removed)

[code]

I used Locust to hammer the server and switching from MPM to event dropped the failure rate (strict time set to complete jobs, with some jobs known to be long) from ~20% to >>10%.

[2022-05-18 08:21] beboche commented on #74
ok for wsgi, thanks. what drove you to this choice? processes=4 threads=40 - maybe we should discuss this by email, including Ivo. Didn't you also configure event MPM, which will handle all the static files, e.g. with
ServerLimit 10
StartServers 2
MaxClients 100
MinSpareThreads 25
MaxSpareThreads 75
ThreadsPerChild 20

[2022-05-19 14:41] ifokkema commented on #74
That explains things, thanks!

[2022-05-19 14:43] PeteCausey-Freeman commented on #74
It could potentially be upgraded to use LRG and RefSeq Gene. Can consider building it into a future release if it's needed

[2022-05-19 15:52] ifokkema commented on #74
Nah, don't worry! We will rarely use it. It's just something we should know considering our HGVS syntax validator. If users submit LRGs or NGs and they want full validation of their variants, then we ought to use the VV endpoint and not the LOVD endpoint. No biggie!

[2022-07-05 11:54] AnotherSimon commented on #75
There was one more issue I encountered when building the docker version on a different server. For vdb image to be built, I had to edit `vdb_docker.df` as follows:
[code]

Note that the line switching to user root may or may not be necessary. (it's a copy-pasta solution)

Not sure why this only happened on this particular server.

[2022-07-05 12:00] PeteCausey-Freeman commented on #75
Thanks for the update. Leave it with me. I'll get back to you.

[2022-09-16 09:59] AnotherSimon opened #80 "gene2transcript error for gene LYST"
I'm getting a server error message when trying to retrieve the transcripts for the gene "LYST"

[code]

Curiously enough validation of specific transcript variants works just fine:
[code]

Version Info:
[code]

[2022-11-23 15:20] beboche opened #81 "validation fails for NM_001287801.1 variants while this transcript is working in the webUI"
Hi Pete,

variants for transcript NM_001287801.1 return an Internal Server Error using the rest API, e.g.:

https://www608.lamp.le.ac.uk/VariantValidator/variantvalidator/GRCh38/NM_001287801.1%3Ac.1A%3ET/all?content-type=application%2Fjson

output:

[code]

In addition, using the web interface it is possible to validate the same variant NM_001287801.1:c.1A>T, except a minor verison warning linked